p{
    font-family: cairo;
    line-height: 25px;
}
.Body_Text-div{
    margin: 0px 200px;
}
.Projects-div{
    border-width: 3px 0px 0px 0px;
    border-style: solid;
}
.Projects-div p{
    line-height: 18px;
}
.Projects-div p:is(.Italic_Text-p){
    line-height: 12px;
    margin-left: 25px;
}
.Resize1-img{
    margin-top: -5px;
    height: 400px;
    width:auto;
}
.Resize2-img{
    margin-top: -5px;
    height: 344px;
    width: auto;
}
.Resize3-img{
    margin-top: -5px;
    height: 344px;
    width: auto;
}