.Bottom_Images-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0px 20px 0px;
}
.Image_Side-img{
    display: inline-block;
    width: 550px;
    justify-self: top;
}
.Remove_Left-img{
    border-left-width: 0px;
}
.Final_Text-p{
    font-style: italic;
    margin: 20px 0px 0px 20px;
}
.Extra_Info_Margin-p{
    margin: -40px 0px 40px 0px;
}
.imageside{
    display: inline-block;
    width: 550px;
    justify-self: top;
}