.Caption_Margin-p{
    display: inline-block;
    margin-right: 500px;
}
.Resize1-img{
    width: 400px;
}
.Two_Column-div{
    display: grid;
    grid-template-columns: auto auto;
}
.Column2-div{
    display: inline-block;
    width: auto;
    margin: -20px 0px 0px 20px;
}
.Resize2-img{
    width: 446px;
}
.Resize3-img{
    margin-top: 20px;
    width: 350px;
}
.Final_Videos-iframe{
    margin-top: 10px;
    margin-bottom: 10px;
}