.caption-p{
    display: inline-block;
    font-style: italic;
    margin-right: 500px;
}
img, iframe{
    border-width: 2px;
    border-color: black;
    border-style: solid;
}
iframe{
    border-bottom-width: 3px;
}
.image2{
    width: 400px;
}
.splitcontainer-div{
    display: grid;
    grid-template-columns: auto auto;
}
.insplit{
    display: inline-block;
    width: auto;
    margin: -20px 0px 0px 20px;
}
.image4{
    width: 446px;
}
.image5{
    width: 350px;
}
.extrainfo-div{
    background-color: rgba(211, 209, 209, 0.70);
    justify-items: center;
    align-content: center;
    height: 250px;
    margin-bottom: 25px;
}
.extrainfo-p{
    width: 700px;
    margin-top: -10px;
    text-align: center;
    font-style: italic;
}
.links{
    font-family: Cairo;
    line-height: 5px;
    display: block;
    text-align: center;
    width: 700px;
    color: rgba(43, 43, 43, 0.7);
}
