.titles-p{
    font-size: 20px;
    font-weight: bold;
}
.extrainfo-p{
    margin: -40px 0px 40px 0px;
}
.imageside{
    display: inline-block;
    width: 550px;
    justify-self: top;
}
.twoimagediv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0px 20px 0px;
}
.removeleft{
    border-left-width: 0px;
}
.endingtext{
    font-style: italic;
    margin: 20px 0px 0px 20px;
}