.Three_Column_Table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.Three_Column_Table p{
    align-content: center;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    border-width: 1px 0px 0px 1px;
    border-style: solid;
}
.Three_Column_Table p.Bottom_Row-p{
    border-width: 1px 0px 1px 1px;
    border-style: solid;
}
.Three_Column_Table p.Right_Column-p{
    border-width: 1px 1px 0px 1px;
    border-style: solid;
}
.Three_Column_Table p.Bottom_Row-p.Right_Column-p{
    border-width: 1px 1px 1px 1px;
    border-style: solid;
}
.Four_Column_Table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.Four_Column_Table p{
    align-content: center;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    border-width: 1px 0px 0px 1px;
    border-style: solid;
}
.Four_Column_Table p.Bottom_Row-p{
    border-width: 1px 0px 1px 1px;
    border-style: solid;
}
.Four_Column_Table p.Right_Column-p{
    border-width: 1px 1px 0px 1px;
    border-style: solid;
}
.Four_Column_Table p.Bottom_Row-p.Right_Column-p{
    border-width: 1px 1px 1px 1px;
    border-style: solid;
}
.Four_Column_Table2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.Four_Column_Table2 p{
    align-content: center;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    border-width: 1px 0px 0px 1px;
    border-style: solid;
}
.Four_Column_Table2 p.Bottom_Row-p{
    border-width: 1px 0px 1px 1px;
    border-style: solid;
}
.Four_Column_Table2 p.Right_Column-p{
    border-width: 1px 1px 0px 1px;
    border-style: solid;
}
.Four_Column_Table2 p.Bottom_Row-p.Right_Column-p{
    border-width: 1px 1px 1px 1px;
    border-style: solid;
}
.Five_Column_Table{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 3fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.Five_Column_Table p{
    align-content: center;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    border-width: 1px 0px 0px 1px;
    border-style: solid;
}
.Five_Column_Table p.Bottom_Row-p{
    border-width: 1px 0px 1px 1px;
    border-style: solid;
}
.Five_Column_Table p.Right_Column-p{
    border-width: 1px 1px 0px 1px;
    border-style: solid;
}
.Five_Column_Table p.Bottom_Row-p.Right_Column{
    border-style: solid;
}