p{
    font-family: cairo;
    line-height: 25px;
}
.Search_Input-input{
    left: 0px;
    align-self: center;
    background-color: rgba(211, 209, 209, 0);
    height: 50px;
    width: 150px;
    border-width: 0px;
    border-radius: 3px;
    font-size: 16px;
    outline: 0px;
}
.Filter-button{
    right: 0px;
    align-self: center;
    background-color: rgba(211, 209, 209, 0);
    width: 150px;
    height: 50px;
    border-radius: 3px;
    cursor: pointer;
}
.Slider_Marks-div{
    font-family: cairo;
    margin-left: 5px;
    margin-top: -25px;
    font-size: 13px;
    word-spacing: 10px;
}
.Reset-button{
    margin: 5px;
    align-self: center;
    background-color: rgba(211, 209, 209, 0);
    width: 125px;
    height: 50px;
    border-radius: 3px;
    cursor: pointer;
}
.Slider-input{
    width: 225px;
    height: 75px;
    cursor: pointer;
    background-color: white;
}
.Slider_Title-p{
    font-family: cairo;
    margin-left: 5px;
    margin-bottom: -30px;
}
.Button_Title-p{
    font-family: cairo;
    font-size: 15px;
    margin: 0px 0px 0px 5px;
    font-style: italic;
}
.Checkbox_Text-p{
    display: inline-block;
    margin: 0px 5px 5px 15px;
    grid: 1;
}
.Checkbox_Text{
    display: inline-block;
    cursor: pointer;
}
.Checkbox_Grid-div{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.Checkbox_Full_Grid-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;  
}
.Hidden-div.open{
    display: block;
    width: 250px;
    height: 300px;
    justify-content: right;
    position: fixed;
    margin: -30px 0px 0px 1250px;
    z-index: 1000;
    background-color:rgba(217, 216, 216, 1);
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
}
.All_Projects-div{
    justify-self: center;
    display: grid;
    grid-template-columns: auto auto;
    margin: 0px;
    gap: 10px;
}
.Project_Holding-div{
    background-color: rgba(211, 209, 209, 0.70);
    width: 750px;
    height: 360px;
    border-radius: 25px;
    display: flex;
}
.Left_Side-div{
    flex: 4;
}
.Left_Image-img{
    width: 350px;
    height: 250px;
    object-fit: cover;
    margin: 10px 10px 10px 10px;
    border-radius: 25px;
}
.Left_Button-button{
    margin: 10px 10px 10px 10px;
    background-color:rgb(246, 178, 107);
    border-radius: 25px;
    border-width: 0px;
    width: 350px;
    height: 50px;
    cursor: pointer;
}
.Left_Button-button:hover{
    cursor: pointer;
    background-color: rgb(177,103,11);
    transition: .7s;
}
.Right_Side-div{
    flex: 6;
}
.Text_One-p{
    font-weight: bold;
    font-size: 24px;
    margin: 10px 10px 10px 10px;
}
.Text_Two-p{
    font-size: 15px;
    margin: 10px 10px 10px 10px;
}
.Text_Three-p{
    font-size: 16px;
    margin: 30px 10px 10px 10px;
    font-style: italic;
}
