.Course_Holder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}
.Course_Container{
    background-color: rgba(211, 209, 209, 0.70);
    width: 490px;
    height: 145px;
    border-radius: 25px;
    display: inline-block;
}
.Text_One-p{
    font-weight: bold;
    font-size: 24px;
    margin: 10px 10px 10px 10px;
}
.Text_Two-p{
    font-size: 15px;
    margin: 10px 10px 10px 10px;
}
.Text_Three-p{
    font-size: 16px;
    margin: 10px 10px 10px 10px;
    font-style: italic;
}