.titles-p{
    font-size: 20px;
    font-weight: bold;
}
.extrainfo-p{
    margin: -40px 0px 40px 0px;
}
.splitcontainer-div{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: top;
}
.insplit{
    display: inline-block;
    width: 500px;
}
.insplit-p{
    display: inline-block;
    width: 600px;
    margin: 0px 0px 0px 20px;
}
.extrainfo-p{
    margin: -100px 0px 40px 0px;
}