.Connected_Images-div{
    display: flex;
    gap: 0px;
}
.Resize1-img{
    height: 350px;
    width: 700px;
}
.Resize2-img{
    width: 400px;
}
.Resize3-img{
    width: 400px;
    height: 350px;
}
.Resize4-img{
    width: 550px;
}
.Remove_Right_Border-img{
    border-right-width: 0px;
}
.Extra_Info_Margin-p{
    margin: -50px 0px 60px 0px;
}