p{
    font-family: cairo;
    line-height: 15px;
    margin-bottom: 10px;
}
.Close_Text-p{
    line-height: 5px;
    margin-bottom: 10px;
}
.Line_Connection-div{
    border-top: solid 5px;
    z-index: 1000;
    font-size: 50px;
}
.Timeline-div{
    margin: 0px 400px;
    display: grid;
    grid-template-columns: 4fr 1fr 5fr;
}
.Center_Line-div{
    height: 900px;
    border-left: solid 5px;
}
.Bullet_Points{
    font-family: cairo;
    line-height: 20px;
    margin-left: -25px;
}
