.caption-p{
    display: inline-block;
    font-style: italic;
    margin-right: 500px;
}
.image2{
    width: 400px;
}
.splitcontainer-div{
    display: grid;
    grid-template-columns: auto auto;
}
.insplit{
    display: inline-block;
    width: auto;
    margin: -20px 0px 0px 20px;
}
.image4{
    width: 446px;
}
.image5{
    margin-top: 20px;
    width: 350px;
}
.lastvideos{
    margin-top: 10px;
    margin-bottom: 10px;
}
